body {
	padding-top: 0px;
	padding-bottom: 20px;
}

a {
	text-decoration: none;
}

a:not([role=button]):hover {
	cursor: pointer;
}

h4 {
	margin-bottom: 12px;
	font-size: 20px;
}

.hidden {
	display: none;
}

#dnsEntriesSpinner {
	margin-top: 0%;
}

.small-button {
	padding: 2px 4px 3px 4px;
	font-size: 12px;
	margin-left: 5px;
	position: relative;
	top: -2px;
}

.word-break {
	word-break: break-all;
}

.title {
	font-size: 24px;
}

.content {
	padding: 0px 16px 0px 16px;
}

.hint {
	color: var(--muted-color);
}

input:not([type=checkbox], [type=radio]), select, textarea {
	width: 95%;
}

@media only screen and (min-width: 992px) {
	input:not([type=checkbox], [type=radio]), select, textarea {
		width: 70%;
	}
}