body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

a {
	text-decoration: none;
}

a:not([role=button]):hover {
	cursor: pointer;
}

h4 {
	margin-bottom: 12px;
}

.hidden {
	display: none;
}

#dnsEntriesSpinner {
	margin-top: 0%;
}

.small-button {
	padding: 2px 3px 3px 3px;
	font-size: 12px;
	margin-left: 5px;
	position: relative;
	top: -2px;
}